body {
  display: flex;
  flex-direction: column;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.header {
  display: flex;
  color: white;
  background-color: #1f2937;
  justify-content: space-between;
  padding: 20px 200px;
}

ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0 10px;
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

.logo {
  font-size: 24px;
  font-weight: 700;
}

.first-section{
  display: flex;
  background-color: #1f2937;
  color: white;
  padding: 120px;
  justify-content: center;
  gap: 50px;

}

.first-left{
  display: flex;
  flex-direction: column;
  width: 500px;
}

.first-left-title {
  font-size: 48px;
  font-weight: 900  ;
}

.first-left-text {
  font-size: 18px;
  margin: 15px 0;
}

.first-right {
  background-color: grey;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  border-radius: 5px;
  background-color: #3882f6;
  padding: 5px 10px;
  color: white;
  border: none;
  font-weight: 600;
  cursor: pointer;
}

.second-section {
  display: flex;
  flex-direction: column;
}

.second-section-top {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  font-weight: 1000;
  padding: 50px;
}

.second-section-body {
  display: flex;
  justify-content: center;
  padding-bottom: 142px;
  gap: 145px;
}

.second-section-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.second-section-img {
  border-radius: 15px;
  border: 4px #3882f6 solid;
  height: 150px;
  width: 150px;
}

.second-section-text {
  width: 150px;
  text-align: center;
  margin-top: 5px;
  color: rgb(94, 93, 93);
  font-size: 17px;
}
