body {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
}

.header, .footer, .first-section {
  display: flex;
  color: white;
  background-color: #1f2937;
}

.header {
  justify-content: space-between;
  padding: 20px 200px;
}

ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0 10px;
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

.logo {
  font-size: 24px;
  font-weight: 700;
}

.first-section{
  padding: 120px;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;

}

.first-left{
  display: flex;
  flex-direction: column;
  width: 500px;
}

.first-left-title {
  font-size: 48px;
  font-weight: 900  ;
}

.first-left-text {
  font-size: 18px;
  margin: 15px 0;
  color: rgba(255, 255, 255, 0.801);
}

.first-right {
  background-color: grey;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  border-radius: 5px;
  background-color: #3882f6;
  padding: 5px 10px;
  color: white;
  border: none;
  font-weight: 600;
  cursor: pointer;
}

.second-section {
  display: flex;
  flex-direction: column;

}

.second-section-top {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  font-weight: 1000;
  padding: 50px;
}

.second-section-body {
  display: flex;
  justify-content: center;
  padding-bottom: 142px;
  gap: 145px;
  flex-wrap: wrap;
}

.second-section-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.second-section-img {
  border-radius: 15px;
  border: 4px #3882f6 solid;
  height: 150px;
  width: 150px;
}

.second-section-text {
  width: 150px;
  text-align: center;
  margin-top: 5px;
  color: rgb(94, 93, 93);
  font-size: 17px;
}

.quote-section {
  display: flex;
  flex-direction: column;
  background-color: #e5e7eb;
  padding: 120px 250px;
}

.quote {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  font-weight: lighter;
  font-style: italic;
}

.source {
  display: flex;
  justify-content: flex-end;
  padding-right: 40px;
  font-weight: bold;
  font-size: 20px;
}

.signup-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
}

.signup-window {
  display: flex;
  background-color: #3882f6;
  border-radius: 14px;
  padding: 40px 90px;
  color: white;
  gap: 150px;
}

.signup-content {
  display: flex;
  flex-direction: column;
}

.signup-title {
  font-size: 20px;
  font-weight: bold;
}

.signup-button {
  display: flex;
  align-items: center;
  border: 2px white solid;
  border-radius: 10px;
  padding: 0px 10px;
}

.footer {
  justify-content: center;
  align-items: center;
  padding: 35px;

}